@model IEnumerable<OfferViewModel>

@{
    ViewData["Title"] = $"All Offers in {Model?.FirstOrDefault()?.Category}";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />

<div class="text-center row">
    @foreach (var offer in Model)
    {
        <div class="card col-4">
            <div class="card-body">
                <p>@offer.Employer</p>
                <p>@offer.Title</p>
                <p>Created on: @offer.CreatedOn</p>
                <p>Salary: @offer.Salary</p>
                <p>Location: @offer.Location</p>
                <p>Seniority: @offer.Seniority</p>
                <a asp-route-offerId="@offer.Id" asp-controller="Offer" asp-action="ShowSingleOffer">Show More</a>
            </div>
        </div>
    }
</div>
