@using JobPortalProject.Core.Infrastructure;
@using JobPortalProject.Core.Contracts;
@inject IEmployerService service

@model OfferViewModel

@{
    ViewData["Title"] = $"View {Model.Title} offer";
}

<h1>@ViewData["Title"]</h1>
<hr />


<div class="card col-7">
    <div class="card-body">
        <p><strong>Employer: </strong>@Model.Employer</p>
        <p><strong>Created On: </strong>@Model.CreatedOn</p>
        <p><strong>Location: </strong>@Model.Location</p>
        <p><strong>Category: </strong>@Model.Category</p>
        <div class="card col-15">
            <p><strong>Description:</strong></p>
            <p>@Model.Description</p>
        </div>
        <br />
        <p><strong>Salary: </strong>@Model.Salary lv.</p>
        <p><strong>Seniority: </strong>@Model.Seniority</p>
        @if (await service.ExistsById(User.Id()) == false)
        {
            <a asp-route-offerId="@Model.Id" asp-controller="Offer" asp-action="ApplyForOffer" class="btn btn-primary"><strong>Apply for offer</strong></a>
        }
    </div>
</div>
