@model EmployeeViewModel

@{
    ViewData["Title"] = "My Account";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<hr />

<div>
    <p><strong>UserName: </strong>@Model.UserName</p>
    <p><strong>Email: </strong>@Model.Email</p>
    <p><strong>CV: </strong>@Model.CV</p>
</div>
<div>
    <a asp-route-Id="@Model.Id" asp-controller="User" asp-action="EditInfo">Edit Profile</a>
</div>
<div>
    <a asp-controller="User" asp-action="Logout">Logout</a>
</div>